

.head{
  font-family: 'Lugrasimo', cursive;
  text-align: center;
}


.login-wrapper{
  color: #000000;
  letter-spacing: 0.8px;
  outline: none;
  border: none;
}

Form{ 
  font-family: 'Raleway', sans-serif;
  height: auto;
    width: 50%;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

label{
  display: block;
  margin-top: 3px;
  font-size: 16px;
  font-weight: 700;
}

.cus-bn{
  margin-top: 10px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}
/* 
.bg-img{
  background-color: #000000;
}

Form{
 
  font-family: 'Raleway', sans-serif;
  height: 520px;
    width: 50%;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}



label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
}
input{
    display: block;
    height: 50px;
    width: 50%;    
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #000000;
}

.button{
  margin-top: 30px;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
} */
